@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Lora:ital,wght@1,500&family=Oleo+Script&family=Oswald:wght@200;300;400&display=swap');


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#contenedor {
   display: grid;
/*grid-template: filas /columnas;*/
grid-template: 0.2fr 0.1fr 2.5fr 0.3fr/ 1fr ;
grid-template-areas: 
"header"
"nav"
"main"
"footer";
gap: 10px;
height: 90vh;
}
.header {
grid-area: header;
}
.nav {
grid-area: nav;
}
.main {
grid-area: main;
}
.footer {
grid-area: footer;
}
.item {
border: 2px solid ;
padding: 10px;
} 

                        /*HEADER*/

.header{
   display: grid;
   width: 100%;
}
.header p{
   font-family: 'Oleo Script', cursive;
   font-size: 1.8rem;
   color: red;
   position: absolute;
   top: 3%;
   padding-left: 5%;
   }
.header img{
   height: 100px;
   float: right;
   margin-right: 5%;
   margin-top: 0.5%;
}

              /*NAV*/

.nav{
background-color: #aaa;
}
.nav-li{
   display: inline-block;
   padding: 10px;
}
.nav-li a{
   color: #fff;
   text-decoration: none;
   margin-right: 20px;
   transition: 0.5s;
   font-size: 1rem;
}

.nav-li:hover > a{
   color: black;
   border-radius: 10%;
   background-color: #fff;
}

.nav-responsive-ul{
    display: none;
    padding: 6px 20px;
}
.nav-responsive-button{
   padding: 6px 20px;
   text-align: right;
   width: 100%;
}


/*MAIN*/

.main{
   display: flex;
   flex-wrap: wrap;
}
.flex-item{
   background: #aaa;
   text-align: center;
   font-size: 1.2rem;
}
.flex-item div {
   margin-top: 5%;
}

/*FOOTER*/

.redes-sociales li {
   display: inline-block;
   
}

            /*CELULAR*/
@media screen and (max-width: 480px) {
   
   .ventana{
      visibility: hidden;
   }
   .abrir{
      cursor: pointer;
      width: 100%;
   }
   .cerrar{
      cursor: pointer;
   }
   .nav-ul{
      display: none;
   }
   .nav{
      width: 100%;
      height: 40px;
   }
   .nav-responsive-ul{
      display: block;
      position: absolute;
      width: 100%;
   }
   #nav-responsive-button{
      height: 40px;
      width: 40px;
      float: right;
   }
   .nav-ul-container {
      margin-left: 5%;
      width: 60%;
   }
   .nav-ul-container li {
      color: #fff;
      background-color: #777;
      margin: 5px;
      padding: 10px;
      width: 100%;
      border-radius: 10%;
      margin-top: 20px;
      font-size: 1.3rem;
      cursor: pointer;
      text-align: center;
      
   }
   .nav-ul-container li:hover{
      background-color: rgb(135, 206, 250);
      color: indigo;
    
   } 
   .flex-item{
      margin: 5px;
      width: 45%;
      height: 120px;
     
   }
   .flex-item img{
      width: 100%;
      
   }

}


            /*TABLET*/

@media screen and (min-width: 480px) and (max-width: 1150px) {
   #contenedor {
      display: grid;
   /*grid-template: filas /columnas;*/
   grid-template: 100px 60px 1fr 200px/ 1fr ;
   grid-template-areas: 
   "header"
   "nav"
   "main"
   "footer";
   gap: 10px;
   height: 90vh;
   }
   .ventana{
      visibility: hidden;
   }
   .abrir{
      cursor: pointer;
      width: 100%;
   }
   .cerrar{
      cursor: pointer;
   }
   .nav-ul{
      display: none;
   }
   .nav{
      width: 100%;
      height: 40px;
   }
   .nav-responsive-ul{
      display: inline-block;
      position: absolute;
      width: 100%;
   }   
   #nav-responsive-button{
      height: 40px;
      width: 40px;
      float: right;
   }
   .nav-ul-container {
      height: 30px;
      display: inline;
   }
   .nav-ul-container li {
      color: #fff;
      background-color: #777;
      margin: 5px;
      padding: 10px;
      width: 50%;
      border-radius: 10%;
      margin-top: 20px;
      font-size: 1.3rem;
      cursor: pointer;
      text-align: center;
      
   }
   .nav-ul-container li:hover{
      background-color: rgb(135, 206, 250);
      color: indigo;
   } 


   .flex-item{
      background: #aaa;
      text-align: center;
      font-size: 1.2rem;
      width: 30%;
      margin: 10px;
   }
   .flex-item div {
      margin-top: 5%;
   }


}  
 

        /*COMPU*/

@media screen and (min-width: 1150px) {
   .flex-item{
   margin: 10px;
   width: 30%;
   height: 40%;
}


} 